[user]
	email = earlfx@163.com
	name = akirco
[init]
	defaultBranch = main
[safe]
	directory = *
[core]
	pager = bat
[pager]
	diff = bat
[color]
	ui = always
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
