.cache
.cargo
.gnupg
.icons
.local
.mozilla
.npm
.nvm
.pki
.rustup
.vscode
CodeSpace
Documents
Downloads
go
Music
RecycleBin
Videos
Pictures
Windows
.bash_logout
.bash_profile
.gitconfig
.gtkrc-2.0
.rnd

.config/clash-verge
.config/Code
.config/composer
.config/dconf
.config/fcitx
# .config/fcitx5
.config/gh
.config/git
.config/go-musicfox/db
.config/go-musicfox/cookie
.config/go-musicfox/music_cache
.config/go-musicfox/musicfox.log
.config/go-musicfox/qrcode.png

.config/gtk-2.0
.config/gtk-3.0
.config/gtk-4.0
.config/ibus
.config/inkscape
# .config/mpv
.config/musikcube
.config/nvim
.config/nwg-look
.config/obs-studio
.config/pulse
.config/WebCord
.config/xfce4
.config/xsettingsd
.config/yay
.config/zsh/.oh-my-zsh
.config/zsh/.zcompdump*
.config/zsh/.zsh_history
.config/zsh/.zshrc.pre-oh-my-zsh
.config/QtProject.conf
.config/simple-update-notifier
.config/wechat
.config/Electron
.startingAppData/%23
.config/google-chrome-beta
