/* ------------------------------ common styles ----------------------------- */

* {
  border: none;
  border-radius: 0;
  font-family: "Commit Mono Nerd Font", "Hack Nerd Font";
  font-weight: bold;
  font-size: 18px;
}

/* --------------------------------- waybar --------------------------------- */

window#waybar {
  background: transparent;
}

tooltip {
  background: rgba(28, 31, 37, 0.65);
  color: #b4befe;
  border-radius: 2px;
}

/* ------------------------------ left modules ------------------------------ */

/* -------------------------------------------------------------------------- */
/*                                    clock                                   */
/* -------------------------------------------------------------------------- */
#clock {
  color: #f5c359;
  background: rgba(10, 10, 10, 0.9);
  border-radius: 8px;
  padding: 2px 10px 2px 10px;
  margin-top: 4px;
  margin-left: 4px;
}

/* -------------------------------------------------------------------------- */
/*                                  workspace                                 */
/* -------------------------------------------------------------------------- */

#workspaces {
  margin-left: 20px;
  background: rgba(10, 10, 10, 0.9);
  border-radius: 8px;
  margin-top: 4px;
  padding: 4px;
}

#workspaces button {
  color: #ffffff;
  border-radius: 8px;
  margin: 4px;
}

#workspaces button.special {
  color: #1ae58a;
  background: rgba(15, 13, 18, 1);
  box-shadow: inset 0 -2px #1ae58a;
}

#workspaces button.active {
  color: #1ae58a;
  background: rgba(15, 13, 18, 1);
  box-shadow: inset 0 -2px #1ae58a;
}

#workspaces button:hover {
  background: #b4befe;
  color: #000000;
}

/* ------------------------------ center module ----------------------------- */

#window {
  color: #5b7ded;
  background: rgba(10, 10, 10, 0.9);
  border-radius: 8px;
  margin-top: 4px;
  margin-right: 10px;
  padding: 2px 10px 2px 10px;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* ------------------------------ right module ------------------------------ */
#cpu,
#memory,
#temperature,
#battery,
#network,
#bluetooth,
#backlight,
#pulseaudio,
#pulseaudio.microphone,
#custom-recorder,
#tray {
  border-radius: 8px;
  padding: 2px 10px 2px 10px;
  color: white;
  margin-top: 4px;
}

#cpu {
  background: rgba(10, 10, 10, 0.9);
  margin-right: 10px;
  color: #f9c74f;
}

#memory {
  background: rgba(10, 10, 10, 0.9);
  margin-right: 10px;
  color: #f9c74f;
}

#temperature {
  background: rgba(10, 10, 10, 0.9);
  margin-right: 10px;
  color: #97cd23;
}
#temperature.critical {
  color: #f44336;
  animation: blink 1s steps(5, start) infinite;
}

#battery {
  background: rgba(10, 10, 10, 0.9);
  margin-right: 10px;
  color: #19ef8f;
}

#battery.charging {
  color: #90caf9;
}

#battery.full {
  color: #4caf50;
}

#battery.warning {
  color: #f05b0b;
}

#battery.critical {
  color: #f44336;
  animation: blink 1s steps(5, start) infinite;
}

#network {
  background: rgba(10, 10, 10, 0.9);
  margin-right: 10px;
  color: #0f69de;
}

#bluetooth {
  background: rgba(10, 10, 10, 0.9);
  margin-right: 10px;
  color: #0f69de;
}

#bluetooth.connected {
  background: rgba(10, 10, 10, 0.9);
  margin-right: 10px;
  color: #047af8;
}

#backlight {
  background: rgba(10, 10, 10, 0.9);
  margin-right: 10px;
  color: #f58686;
}

#pulseaudio {
  background: rgba(10, 10, 10, 0.9);
  margin-right: 10px;
  color: #984df8;
}

#pulseaudio.microphone {
  background: rgba(10, 10, 10, 0.9);
  margin-right: 10px;
  color: #984df8;
}

/* -------------------------------------------------------------------------- */
/*                                custom-module                               */
/* -------------------------------------------------------------------------- */

/* -------------------------------- recorder -------------------------------- */

#custom-recorder {
  margin-right: 10px;
  background: rgba(10, 10, 10, 0.9);
  padding-left: 10px;
  padding-right: 10px;
  color: #d37576;
}
#custom-recorder.recording {
  margin-right: 10px;
  animation: blink 2s steps(5, start) infinite;
}

/* ----------------------------------- vpn ---------------------------------- */
#custom-vpn {
  padding: 2px 10px 2px 10px;
  margin-top: 4px;
  margin-right: 10px;
  border-radius: 8px;
  min-width: 60px;
}

#custom-vpn.running {
  background-color: rgba(10, 10, 10, 0.9);
  color: #26a269;
}

#custom-vpn.stopped {
  background-color: rgba(10, 10, 10, 0.9);
  color: #c01c28;
}

#custom-vpn.error {
  background-color: rgba(10, 10, 10, 0.9);
  color: #f66151;
}

#custom-vpn.critical {
  background-color: rgba(10, 10, 10, 0.9);
  color: #ff7800;
}

/* -------------------------------- capslock -------------------------------- */

#custom-capslock {
  margin-right: 10px;
  padding: 2px 10px 2px 10px;
  background: rgba(10, 10, 10, 0.9);
}

#custom-capslock .capslock-on {
  color: #06fef6;
}
#custom-capslock .capslock-off {
  color: #ece6e6;
}

/* ----------------------------------- tray ---------------------------------- */

#tray {
  margin-right: 4px;
  background: rgba(10, 10, 10, 0.9);
  color: #cdd6f4;
}

/* -------------------------------- animation ------------------------------- */

@keyframes blink {
  to {
    color: #ffffff;
  }
}
