/* ------------------------------ common styles ----------------------------- */

* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font";
  font-weight: bold;
  font-size: 18px;
}

/* --------------------------------- waybar --------------------------------- */

window#waybar {
  background: transparent;
}

tooltip {
  background: rgba(15, 13, 18, 0.85);
  border-radius: 4px;
}

/* ------------------------------ left modules ------------------------------ */

/* -------------------------------------------------------------------------- */
/*                                    clock                                   */
/* -------------------------------------------------------------------------- */
#clock {
  color: #f5c359;
  background: rgba(15, 13, 18, 0.85);
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  margin-top: 4px;
  margin-left: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                  workspace                                 */
/* -------------------------------------------------------------------------- */

#workspaces {
  margin-left: 20px;
  background: rgba(26, 26, 35, 0.85);
  border-radius: 4px;
  margin-top: 4px;
  padding: 4px;
}

#workspaces button {
  color: #ffffff;
  border-radius: 4px;
  margin: 4px;
}

#workspaces button.special {
  background: rgba(26, 26, 35, 0.85);
  color: #1ae58a;
}

#workspaces button.active {
  color: #1ae58a;
  background: rgba(26, 26, 35, 1);
  box-shadow: inset 0 -2px #1ae58a;
}

#workspaces button:hover {
  background: #b4befe;
  color: #000000;
}

/* ------------------------------ center module ----------------------------- */

#window {
  color: #5b7ded;
  background: rgba(15, 13, 18, 0.85);
  border-radius: 4px;
  margin-top: 4px;
  margin-right: 10px;
  padding: 2px 10px 2px 10px;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* ------------------------------ right module ------------------------------ */
#cpu,
#memory,
#temperature,
#battery,
#network,
#bluetooth,
#backlight,
#pulseaudio,
#pulseaudio.microphone,
#custom-recorder,
#tray {
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  color: white;
  margin-top: 4px;
}

#cpu {
  background: rgba(15, 13, 18, 0.85);
  margin-right: 10px;
  color: #f9c74f;
}

#memory {
  background: rgba(15, 13, 18, 0.85);
  margin-right: 10px;
  color: #f9c74f;
}

#temperature {
  background: rgba(15, 13, 18, 0.85);
  margin-right: 10px;
  color: #97cd23;
}

#battery {
  background: rgba(15, 13, 18, 0.85);
  margin-right: 10px;
  color: #19ef8f;
}

#battery.charging {
  color: #90caf9; /* 浅蓝色 */
}

/* 电量高于 95% (good) */
#battery.good {
  color: #4caf50; /* 绿色 */
}

/* 电量低于 30% (warning) */
#battery.warning {
  color: #ffeb3b; /* 黄色 */
}

/* 电量低于 20% (critical) */
#battery.critical {
  color: #f44336; /* 红色 */
  animation: blink 1s steps(5, start) infinite;
}

#network {
  background: rgba(15, 13, 18, 0.85);
  margin-right: 10px;
  color: #0f69de;
}

#bluetooth {
  background: rgba(15, 13, 18, 0.85);
  margin-right: 10px;
  color: #0f69de;
}

#bluetooth.connected {
  background: rgba(15, 13, 18, 0.85);
  margin-right: 10px;
  color: #047af8;
}

#backlight {
  background: rgba(15, 13, 18, 0.85);
  margin-right: 10px;
  color: #f58686;
}

#pulseaudio {
  background: rgba(15, 13, 18, 0.85);
  margin-right: 10px;
  color: #984df8;
}

#pulseaudio.microphone {
  background: rgba(15, 13, 18, 0.85);
  margin-right: 10px;
  color: #984df8;
}

#custom-recorder {
  margin-right: 10px;
  background: rgba(15, 13, 18, 0.85);
  padding-left: 10px;
  padding-right: 10px;
  color: #d37576;
}
#custom-recorder.recording {
  margin-right: 10px;
  animation: blink 1s infinite;
}

#tray {
  margin-right: 10px;
  background: rgba(15, 13, 18, 0.85);
  color: #e96899;
}

@keyframes blink {
  to {
    color: #bb2326;
  }
}
