* {
    all: initial; /* Resets all properties to their default */
}


window {
  margin: 0px;
  border: 4px solid #0b0b0b;
  background-color: rgba(5, 1, 1, 0.9);
  border-radius: 18px;
}

#input {
  all: unset;
  min-height: 36px;
  padding: 8px 8px;
  border:none;
  color: #b4befe;
  font-weight: bold;
  outline: none;
  border-radius: 18px;
  margin: 10px;
  margin-bottom: 2px;
}

#inner-box {
  margin: 4px;
  padding: 10px;
  font-weight: bold;
  border-radius: 15px;
}

#outer-box {
  margin: 0px;
  padding: 5px;
  border: none;
  border-radius: 15px;
  border: 4px solid #0b0b0b;
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 15px;
  margin-bottom: 5px;
}

#text {
  margin: 0px 10px;
}

#text:selected {
  color: #1AE58A;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
  border: none;
  border-radius: 15px;
}

#entry {
  min-height: 36px;
  margin: 0px 0px;
  border: none;
  border-radius: 0px;
  background-color: transparent;
}

#entry:selected {
  margin: 6px 0px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background: #000000;
  box-shadow:inset 0 -1px #1ae58a;
  background-size: 200% 300%;
}
