/** ********** Fonts ********** **/
* {
  font-family: "Hack Nerd Font", sans-serif;
  font-size: 35px;
  font-weight: bold;
}

/** ********** Main Window ********** **/
window {
  background-color: rgba(24, 27, 32, 0.2);
}

/** ********** Buttons ********** **/
button {
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: transparent;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 10px 2px transparent;
  border-radius: 30px;
  border:none;
  outline: none;
  margin: 10px;
}

button:focus,
button:active,
button:hover {
  background-color: rgba(15, 13, 18, 0.5);
  outline-style: none;
}

/** ********** Icons ********** **/
#lock {
  background-image: image(
    url("icons/lock.png"),
    url("/usr/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("icons/logout.png"),
    url("/usr/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("icons/suspend.png"),
    url("/usr/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("icons/hibernate.png"),
    url("/usr/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("icons/shutdown.png"),
    url("/usr/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("icons/reboot.png"),
    url("/usr/share/wlogout/icons/reboot.png")
  );
}
